<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="bottom">
    <div style="background-color: #FF7600;color: white;height: 180px;">
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                <address class="text-center">
                    <strong>版权所有</strong> © 2018-2020 123456789 蜀ICP备12345678<br>
                    <strong>技术支持：</strong>XXXXXXXXXX网络中心<br>
                    <strong>学院地址：</strong>四川省绵阳市XXXXXXXXX  <strong>邮编：</strong>621000<br>
                    <strong>电话：</strong>0816-123456  <strong>管理信箱：</strong>123456789@ccswust.edu.cn<br>
                </address>
            </div>
        </div>
    </div>
</div>
</body>
</html>