<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin-logging</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>

    </script>
</head>
<h1>this is logging!</h1>
<body>
<form action="/admin/logging" method="post">
    <span style="color: red" th:if="${loggingInfo == false}">账户名或密码错误!请重新登陆!</span>
    <p>管理员账号:<input type="text" name="username" id="username"><span id="sp1"></span></p>
    <p>管理员密码:<input type="text" name="password" id="password"><span id="sp2"></span> </p>
    <p><input type="submit" value="登陆" id = "submit"> <input type="button" value="注册" id = "register"></p>
</form>
</body>
</html>