<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Admin-Product-List</title>
</head>
<body>
<h1>This is Product List!</h1>
<h3><a href="/admin/index">返回Index页面</a></h3>
<h3><a href="/admin/findAllMerchant">返回商家页面</a></h3>
<h3><a href="/admin/findAllUser">返回用户页面</a></h3>
<h3><a href="/admin/findAllProduct">返回产品页面</a></h3>
<table>
    <tr align="center">
        <td>产品Id</td>
        <td>产品名</td>
        <td>价格</td>
        <td>产品描述</td>
        <td>产品图片</td>
        <td>产品销量</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    <tr th:each="p : ${pageInfo.list}" align="center">
        <td th:text="${p.productId}"></td>
        <td th:text="${p.productName}"></td>
        <td th:text="${p.productPrice}"></td>
        <td th:text="${p.productDesc}"></td>
        <td ><img th:src="${p.productImg}" alt="not found" th:width="10px" th:height="10px"></td>
        <td th:text="${p.productSell}"></td>
        <td th:text="${p.productStatus}"></td>
        <td th:switch="${p.productStatus}">
            <sapn th:case="1"><a th:href="'/admin/productStatus/2/' + ${p.productId}">禁用</a></sapn>
            <sapn th:case="2"><a th:href="'/admin/productStatus/1/' + ${p.productId}">启用</a></sapn>
        </td>
    </tr>
</table>

<p><a href="/admin/findAllProduct">首页</a>
    <a th:href="'/admin/findAllProduct?page='+${pageInfo.prePage}">上一页</a>
    <a th:href="'/admin/findAllProdut?page='+${pageInfo.nextPage}">下一页</a>
    <a th:href="'/admin/findAllProduct?page='+${pageInfo.pages}">尾页</a>

</p>
<p> 总记录条数: <span th:text="${pageInfo.total}"></span>
    当前页记录数: <span th:text="${pageInfo.size}"></span>
    当前页数: <span th:text="${pageInfo.pageNum}"></span>
    总页数: <span th:text="${pageInfo.pages}"></span>
</p>


</body>
</html>