.main-bg-color {
    background: #FF7600;
}
.content {
    margin-top: 20px;
}
.merchant-detail-title {
    background: white;
    height: 50px;
    padding: 10px 0px 0px 30px;
    font-size: 16px;
    color: #898989;
}

.merchant-detail-title-text {
    color: #060A15;
    float: left;
}
.product-content {
    background: white;
    padding: 30px 0px 0px 20px;
    font-size: 16px;
    margin-top: 15px;
    color: #898989;
}